:root {
    --mainColor: #C5D6C5;
    --textColor: black;
    --fontPlusjakarta: "Plus Jakarta Sans", sans-serif;
    --fontRoboto: "Roboto", sans-serif;
    --fontOpenSans: "Open Sans", sans-serif;
    --fontInter: "Inter", sans-serif;

}